# Change if cuda changes
spconv-cu113
munch
pandas
plyfile
pyyaml
scikit-learn
scipy
six
tensorboard
tensorboardX
tqdm
open3D
seaborn
k3d
openpyxl
numpy
matplotlib
joblib
networkx
plotly==5.13.1
clearml
ipympl
laspy[laszip]
openpyxl
kaleido
black
pre-commit
jinja2==3.0.3
xlsxwriter
flask
flask_cors
pandas
jupyter

-e .

git+https://github.com/isisim/pypcd.git
git+https://github.com/leonardo-holtz-isi/Nubilum.git
